<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="stdbtn.toolbar">
            <command commandId="org.eclipse.ui.edit.undo"  id="stdbtn.undo"  style="push" />
            <command commandId="org.eclipse.ui.edit.redo"  id="stdbtn.redo"  style="push" />
            <command commandId="org.eclipse.ui.edit.copy"  id="stdbtn.copy"  style="push" />
            <command commandId="org.eclipse.ui.edit.paste" id="stdbtn.paste" style="push" />
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
